body {
    font-family: 'Poppins', sans-serif !important;
}

header {
    width: 100%;
    padding: 20px 20px;
    background-color: #d7b622;
    box-sizing: border-box;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.div_main {
    margin: 50px 0;
    min-height: 495px;
}

.ul-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
    padding: 0 100px;
}

.ul-flex-v2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: flex-start;
}

.title {
    text-align: center;
}

.book_card {
    background: #151414;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.book_img {
    width: 219px;
    border-radius: 15px;
    overflow: hidden;
}

.image_book {
    width: 100%;
}

.book-info-div {
    color: #eee;
}

.book-p {
    font-weight: bold;
    color: #d7b622;
}

.book-p > span{
    font-weight: normal;
    color: #eee;
}

.book-link {
    color: #eee;
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #0eab75;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
}

.header-link {
    margin-right: 20px;
    text-decoration: none;
    color: #151414;
}

.header-link:hover {
    color: #fff;
}

.form-box {
    margin: 30px 0 220px;
    display: flex;
    justify-content: center;
    align-content: center;
}

form {
    color: #fff;
    background-color: #151414;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

form > input {
    width: 100%;
    padding: 5px 5px;
    box-sizing: border-box;
}

form > button {
    margin-top: 20px;
    color: #fff;
    background-color: #0eab75;
    border: none;
    box-sizing: border-box;
    padding: 10px 5px;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
}

.main-box {
    background-color: #151414;
    width: 350px;
    padding: 15px;
    color: #fff;
}

.main-box > p > span {
    color: #0eab75;
}

.error {
    text-align: center;
    color: #be1717;
}

.user-avatar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

.avatar-img-box {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    background: #0eab75;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.profile-img {
    width: 300px;
    border-radius: 50%;
    animation: profile-img-rotate 5s infinite linear;
}

.order-card {
    width: 300px;
    height: auto;
    color: #fff;
}

footer {
    /*margin-top: 50px;*/
    /*width: calc(100% - 20px);*/
    width: 100%;
    /*position: absolute;*/
    bottom: 0;
    padding: 20px 20px;
    background-color: #d7b622;
    box-sizing: border-box;
}

.book-detail-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.div-action {
    /*width: 300px;*/
    text-align: center;
    /*margin-top: 30px;*/
}

.btn-add-to-cart {
    width: 100%;
    display: inline-block;
    background: #d7b622;
    color: #151414;
    padding: 10px;
    box-sizing: border-box;
    transition: all 300ms;
    cursor: pointer;
}

.btn-add-to-cart:hover {
    background: #0eab75;
    color: #eeeeee;
}

.btn-add-to-cart-form {
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
}

.make-order-box {
    width: 800px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    background: #151414;
    border-radius: 20px;
}

.make-order-body {

}

.order-items {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background: #d7b622;
    margin: 25px 0;
}

.order-item-body {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.order-item-img {
    width: 100px;
    background: #d7b622;
}

.order-item-img > img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.order-item-info {
    text-align: left;
    background: #eee;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.make-order-cost {
    display: block;
    font-weight: bold;
    color: #0eab75;
    font-size: 24px;
    line-height: 20px;
}

.make-order-cost > span {
    color: #d7b622;
}

.make-order-btn {
    width: 300px;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    background: #0eab75;
    border-radius: 5px;
    color: #eee;
}

.btn-make-div {
    width: 100%;
    text-align: center;
}

.btn-form-make-order {
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    background: transparent!important;
    font-weight: bold;
}

.footer, .header {
    border-radius: 10px;
}

.text-center {
    margin: 100px 0 0;
    text-align: center;
}

.cart-info-text {
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
    color: #0eab75;
    text-align: center;
}

.profile-info {
    width: 400px;
    background: #151414;
    margin-left: 100px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.profile-info h2 {
    color: #eee;
    margin: 0 0 20px;
}

.profile-info > div {
    width: 100%;
    color: #151414;
    background: #d7b622;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
}

.profile-info > div > span {
    color: #eee;
    font-weight: normal;
}

.edit-btn {
    display: inline-block;
    padding: 10px;
    color: #eee;
    font-weight: 600;
    background: #0eab75;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
}

.stop-animation {
    animation-play-state: paused!important;
}

.mg-l-100 {
    margin-left: 100px;
}

.mg-t-100 {
    margin-top: 100px;
}

.order-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.order-date {
    padding: 15px;
    box-sizing: border-box;
    background: #0eab75;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
}

.order-date span {
    font-weight: normal;
}

.order-body {
    padding: 15px;
    box-sizing: border-box;
    color: #d7b622;
    font-weight: 600;
    border-radius: 0 0 10px 10px;
    background-color: #151414;
}

.order-body span {
    font-weight: normal;
    color: #eeeeee;
}

.order-items-list {
    background-color: #d7b622;
}

.order-items-list:last-child {
    border-bottom: none;
}

.order-item {
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 2px solid #000;
    display: flex;
    justify-content: space-between;
}

.order-item-name {
    width: 60%;
    color: #000;
}

.order-item-cost {
    width: 40%;
    color: #0eab75;
    font-weight: 600;
}

.div-edit-profile-info-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    flex-direction: column;
    /*min-height: 495px;*/
}

.user-edit-info {
    width: 600px;
    background: #151414;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.user-edit-info h2 {
    color: #eee;
    margin: 0 0 20px;
}

.user-edit-info form {
    padding: 0;
    margin: 0;
    width: 100%;
}

.user-edit-info .label-div {
    width: 100%;
    color: #151414;
    background: #d7b622;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-div label {
    width: 150px;
}

.label-div input {
    width: 400px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline;
}

.label-div textarea {
    width: 400px;
    border-radius: 5px;
    padding: 10px 15px;
    display: inline;
}

.label-div input:focus {
    border: 2px solid #0eab75;
}

.back-to-btn {
    display: inline-block;
    background: #be1717;
    color: #eee;
    font-weight: 600;
    padding: 15px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 50px;
}

.title-h {
    font-weight: 600;
    color: #eee;
}

.comments-flex {
    width: 600px;
    margin: 50px auto 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.comments-flex:last-child {
    margin-bottom: 0;
}

.comment-card {
    width: 600px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 20px;
}

.user {
    width: 150px;
    padding: 20px;
    background: #d7b622;
    border-radius: 10px 0 0 10px;
    box-sizing: border-box;
}

.user-img {
    text-align: center;
    margin-bottom: 20px;
}

.user-img img {
    width: 50px;
    border-radius: 50%;
}

.user-name {
    padding: 3px 7px;
    color: #eee;
    font-weight: 600;
    background: #0eab75;
    border-radius: 15px;
}

.comment {
    width: 500px;
    padding: 20px;
    background: #151414;
    color: #eee;
    box-sizing: border-box;
    border-radius: 0 15px 15px 0;
}
